/* Basic Styling */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}


/* Left Column */
.left-column img {
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 59px;
}








/* Right Column */

/* Product Description */
.product-quantity span,
.glazing span {
  font-size: 14px;
  font-weight: 400;
  color: #86939E;
  margin-bottom: 20px;
  display: inline-block;
}

/* Product Color */
.product-quantity {
  margin-bottom: 30px;
}

.glazing-choose {
  margin-bottom: 20px;
}

.glazing-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 11px 13px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.glazing-choose button:hover,
.glazing-choose button:active,
.glazing-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}

.glazing {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.glazing a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.glazing a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Below Product Description style is taken from
https://designmodo.com/create-product-page/#html */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #7B453D;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}




/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #FFC600;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 11px 15px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: orange;
}



/* Review and Description Nav Bars at the Bottom of each product page */
/* Taken from https://www.w3schools.com/howto/howto_js_tabs.asp */
/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  width: 72%;
  margin-left: 14%;
  margin-right: 14%;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  width: 72%;
  margin-left: 14%;
  margin-right: 14%;
  margin-bottom: 5%;
}
