/* Common style for all pages */

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

/* navigation css */

nav {
    background-color: #F6F4F4;
    width: 100%;
    overflow: hidden;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
}

/* From https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_basic_css */
/* Modified to fit the navigationd design */
nav .buttons {
    padding-top: 2.1%;
    list-style-type: none;
    padding-right: 2.8%;
}

nav .logo {
    display: block;
    float: left;
    padding-left: 2%;
    width: 17.5%;
    height: auto;
}

nav ul li {
    float: right;
    text-align: center;
    padding-left: 5%;
    padding-top: 1%;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

nav ul li a:hover{
    text-decoration: underline;
}

nav ul li a:visited {
    color: inherit;
}

/* Banner for Home Page */
.banner {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 86vh;
}

.banner h1 {
    position: relative;
    float: left;
    text-align: center;
    color: #7B453D;
    font-size: 82px;
    font-weight: bold;
    padding-top: 14%;
    padding-left: 7%;
    margin-top: auto;
    margin-bottom: auto;
}

.banner h2 {
    position: absolute;
    float: left;
    text-align: center;
    color: black;
    font-size: 42px;
    font-weight: bold;
    padding-top: 20%;
    padding-left: 7%;
    margin-top: auto;
    margin-bottom: auto;
}

.banner-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    padding: 1.2% 0.8%;
    background: #FFC600;
    font-size: 1.35em;
    border-radius: 10%;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    width: 10%;
    letter-spacing: 0.05em;
    position:absolute;
    top:63%;
    left:7.1%;
}

.banner-button:hover{
    border-style: solid;
    border-width: 0.1em;
}


/* Footer CSS */
footer {
    background-color: #F6F4F4;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
    color: grey;
}

footer .footer-left img {
    width: 65%;
    height: auto;
}

.footer-left {
    float: left;
    padding-left: 1.5%;
    padding-top: 0.8%;
}

.footer-right {
    float: right;
    padding-right: 1.5%;
    padding-top: 1.1%;
}

.footer-center {
    text-align:center;
    position: absolute;
    top: 27%;
    right: 0;
    bottom: 0;
    left: 0;
}


/* Product Brose Page */
/* https://www.w3schools.com/howto/howto_css_product_card.asp modified from this example */

#browse .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 475px;
  margin: auto;
  text-align: center;
  padding-bottom: 5px;
  /* margin-top: 50px;
  margin-bottom: 50px; */
}

#browse .price {
  color: #7B453D;
  font-size: 22px;
  font-weight: bold;
}

/* CSS Validator says this is from unknown vendor so I commented out
but it is Chrome specific... */
/* #browse .card a:-webkit-any-link {
  text-decoration: none;
  color: black;
} */

#browse .card a:hover {
  text-decoration: underline;
}

/* Small Banner for Product Page and About Us Page */
#getrollin {
    background-image: url("images/getrollin.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}

#aboutus {
    background-image: url("images/aboutus.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}

.about-banner h1 {
    position: relative;
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
    padding-top: 3.6%;
    margin-top: auto;
    margin-bottom: auto;
}

.about-banner h2 {
    position: relative;
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding-top: 1.8%;
    margin-top: auto;
    margin-bottom: auto;
}

/* Star Rating on Product Page */
.checked {
  color: orange;
}


/* Grid Display for Products Page */
/* From https://www.w3schools.com/css/css_grid.asp */
.row {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 0%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.row>div {
    text-align: center;
    margin-bottom: 5%;
}


/* Filter and Search Bar for Products Page */
.leftoption {
  float: left;
  padding-left: 14%;
  padding-bottom: 2%;
  padding-top: 3%;
}

.rightoption {
  float: left;
  padding-left: 45.5%;
  padding-bottom: 2%;
  padding-top: 3%;
}

.two-row {
    width: 90%;
    margin-top: 4%;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10%;
}
